body {
  font-family: Inter, Arial;
  margin: 0;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  background-color: #141414 ;
}

p, h1, h2 {
  margin: 0;
}

.main-container {
  background-color: #1F1F1F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 40px;
  border-radius: 10px;
}

.image-container img {
  display: flex;
  justify-content: center;
  width: 80px;
  border-radius: 40px;
  margin-bottom: 16px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.text-container h1 {
  font-size: 1.3rem;
  margin-bottom: 5px;
  color: white;
  font-weight: 500;
}

.text-container h2 {
  font-size: 0.9rem;
  color: #C4F82A;
  margin-bottom: 20px;
  font-weight: 500;
}

.text-container p {
  font-size: 0.7rem;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button-container button {
  color: white;
  background-color: #333333;
  border: none;
  padding: 10px 70px;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 6px;
  transition: background-color 0.6s, color 0.6s;
}

.button-container button:hover {
  background-color: #C4F82A;
  color: black;
}

ul {
  list-style-type: none;
  margin-right: 40px;
}

ul li {
  background-color: #333333;
  text-align: center;
  margin-bottom: 12px;
  padding: 10px 60px;
  border-radius: 8px;
  font-weight: 500;
  color: white;
  transition: background-color 0.5s, 
    color 0.5s;
}

a, a:visited, a:active {
  color: inherit;
}

a {
  text-decoration: none;
}

ul li:hover{
  background-color: #C4F82A;
  color: black;
}